    body{
  

    }

    #banner{
        width: 100%;
    }

    .principal {
        background: #cccccc;
        padding: 30px;
    }

    .titulo-principal{
        padding-left: 20px;
    }

    p {
        text-align: center;

    }

    #missao {
        font-size: 20px;
    }

    em strong {  /* quando coloca duas tags, classe ou id, determina que parte do codigo ira usar determinado recurso */
    color: #FF0000;
    }

    .itens {
        font-style: italic
    }
    
    .beneficios {
        background: #FFFFFF;
        padding: 20px;
    }
    
    .titulo-centralizado {
        text-align: center;
    }

    ul {
        display: inline-block;
        vertical-align: top;
        width: 20%;
        margin-right: 15%;
    }

    .imagembeneficios {
        width: 50%;
    }